p{
  color: white;
  text-align: center;
}

h1{
  color: white;
  text-align: center;
}
body {
  background-image:url("darkblue.jpg")
}

h2{
  color: white;
  text-align: center;
}

a{
  color: white;
  display: block;
  text-align: center;
}

img{
  text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 200%;
}

p {
    font-family: "Arial", sans-serif;
}
